/* Grundläggande styling */
body {
  font-family: "Grandstander", cursive;
  background: linear-gradient(
    135deg,
    #111,
    #333,
    #666,
    #000530,
    #666,
    #333,
    #111
  );
  background-size: 800% 800%;
  animation: metallicShine 50s infinite linear;
}

@keyframes metallicShine {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

/* Navbar */
.navbar {
}

.navbar-brand {
  font-weight: bold;
}
.navbar-toggler-icon {
  color: #007bff;
}

.nav-link {
  font-size: 1.1rem;
  text-transform: uppercase;
  transition: color 0.3s;
}
.nav-link:hover {
  color: white;
}

/* Hero section */
.hero {
  color: white;
  text-align: center;
}

.hero h1 span {
  color: #ffc107;
}

#profilePhoto {
  max-width: 250px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

/* Ikoner i hero-sektionen */
.hero .fa-brands {
  color: white;
  transition: transform 0.3s ease-in-out;
}

.hero .fa-brands:hover {
  transform: scale(1.2);
  color: #002aaa;
}

/*About Me Section*/
#aboutME {
  padding-top: 100px;
}

/*Project Section*/
.card {
  background-color: #222;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  opacity: 0; 
  transform: translateY(50px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.card h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.card p {
  font-size: 1rem;
  margin-bottom: 15px;
}

.card .btn {
  margin-right: 10px;
}

.card.show {
  opacity: 1;
  transform: translateY(0);
}

/* Scroll animation */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


/* Contact section */
#contact .btn {
  font-size: 1.2rem;
  padding: 10px 20px;
}

#contact .fa-brands {
  color: #007bff;
  transition: color 0.3s;
}

#contact .fa-brands:hover {
  color: #6610f2;
}

/* Footer */
#footer {
  color: white;
  text-align: center;
  padding: 20px 0;
}
