/* Grundläggande styling */
body {
  font-family: "Grandstander", cursive;
  background: linear-gradient(
    135deg,
    #111,
    #333,
    #666,
    #000530,
    #666,
    #333,
    #111
  );
  background-size: 800% 800%;
  animation: metallicShine 50s infinite linear;
}

@keyframes metallicShine {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

/* Navbar */

.navbar {
  position: fixed !important;
  top: 0;
  left: 0;
  padding: 1rem 2rem;
  width: 100%;
  z-index: 999;
}
.navbar-brand {
  font-weight: bold;
}
.navbar .navbar-toggler {
  color: white;
  transition: transform 0.3s ease-in-out;
  transform: rotate(0deg);
}

.navbar-toggler[aria-expanded="true"] {
  transform: rotate(90deg);
}
.navbar-toggler-icon {
  filter: invert(1);
}
.navbar-collapse {
  display: flex;
}

.nav-link {
  font-size: 1.1rem;
  text-transform: uppercase;
  transition: color 0.3s;
  width: fit-content;
}
.nav-link:hover {
  color: white;
}

/* Hero section */
.hero {
  color: white;
}

.hero h1 span {
  color: #ffc107;
}

#profilePhoto {
  max-width: 80%;
  width: fit-content;
  box-shadow: 0 0 15px rgb(161 161 161 / 46%);
  object-fit: cover;
}

/* Ikoner i hero-sektionen */
.hero .fa-brands {
  color: white;
  transition: transform 0.3s ease-in-out;
}

.hero .fa-brands:hover {
  transform: scale(1.2);
  color: #002aaa;
}

/*About Me Section*/

#aboutMe {
  margin-bottom: 250px; /* Increases space below the About Me section */
}

#project {
  margin-top: 50px;
  margin-bottom: 250px;
}

/*Project Section*/
.card {
  background-color: #222;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.card h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.card p {
  font-size: 1rem;
  margin-bottom: 15px;
}

.card .btn {
  margin-right: 10px;
}

.card.show {
  opacity: 1;
  transform: translateY(0);
}

/* Scroll animation */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Contact section */
#contact {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#contact-form {
  width: 25rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*FOOTER */
.footer .fa-brands {
  gap: 100px;
  color: white;
  transition: transform 0.3s ease-in-out;
}

.footer .fa-brands:hover {
  transform: scale(1.2);
  color: #002aaa;
}

.footer p {
  margin-top: 50px;
}
